SECRET_KEY=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
UPLOAD_FOLDER=uploads
MAX_FILE_SIZE_MB=5
MAX_TOTAL_SIZE_MB=200
MAX_FILES_PER_SESSION=32
DEFAULT_THRESHOLD=70